/*! =========================================================
 * bootstrap-slider.js
 *
 * Maintainers:
 *		Kyle Kemp
 *			- Twitter: @seiyria
 *			- Github:  seiyria
 *		Rohit Kalkur
 *			- Twitter: @Rovolutionary
 *			- Github:  rovolution
 *
 * =========================================================
  *
 * bootstrap-slider is released under the MIT License
 * Copyright (c) 2019 Kyle Kemp, Rohit Kalkur, and contributors
 * 
 * Permission is hereby granted, free of charge, to any person
 * obtaining a copy of this software and associated documentation
 * files (the "Software"), to deal in the Software without
 * restriction, including without limitation the rights to use,
 * copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the
 * Software is furnished to do so, subject to the following
 * conditions:
 * 
 * The above copyright notice and this permission notice shall be
 * included in all copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 * EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 * OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 * NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 * HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 * WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 * FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 * OTHER DEALINGS IN THE SOFTWARE.
 *
 * ========================================================= */
.slider { display: inline-block; vertical-align: middle; position: relative; }

.slider.slider-horizontal { width: 210px; height: 20px; }

.slider.slider-horizontal .slider-track { height: 10px; width: 100%; margin-top: -5px; top: 50%; left: 0; }

.slider.slider-horizontal .slider-selection, .slider.slider-horizontal .slider-track-low, .slider.slider-horizontal .slider-track-high { height: 100%; top: 0; bottom: 0; }

.slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle { margin-left: -10px; }

.slider.slider-horizontal .slider-tick.triangle, .slider.slider-horizontal .slider-handle.triangle { position: relative; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%); border-width: 0 10px 10px 10px; width: 0; height: 0; border-bottom-color: #2e6da4; margin-top: 0; }

.slider.slider-horizontal .slider-tick-container { white-space: nowrap; position: absolute; top: 0; left: 0; width: 100%; }

.slider.slider-horizontal .slider-tick-label-container { white-space: nowrap; margin-top: 20px; }

.slider.slider-horizontal .slider-tick-label-container .slider-tick-label { padding-top: 4px; display: inline-block; text-align: center; }

.slider.slider-horizontal .tooltip { -ms-transform: translateX(-50%); transform: translateX(-50%); }

.slider.slider-horizontal.slider-rtl .slider-track { left: initial; right: 0; }

.slider.slider-horizontal.slider-rtl .slider-tick, .slider.slider-horizontal.slider-rtl .slider-handle { margin-left: initial; margin-right: -10px; }

.slider.slider-horizontal.slider-rtl .slider-tick-container { left: initial; right: 0; }

.slider.slider-horizontal.slider-rtl .tooltip { -ms-transform: translateX(50%); transform: translateX(50%); }

.slider.slider-vertical { height: 210px; width: 20px; }

.slider.slider-vertical .slider-track { width: 10px; height: 100%; left: 25%; top: 0; }

.slider.slider-vertical .slider-selection { width: 100%; left: 0; top: 0; bottom: 0; }

.slider.slider-vertical .slider-track-low, .slider.slider-vertical .slider-track-high { width: 100%; left: 0; right: 0; }

.slider.slider-vertical .slider-tick, .slider.slider-vertical .slider-handle { margin-top: -10px; }

.slider.slider-vertical .slider-tick.triangle, .slider.slider-vertical .slider-handle.triangle { border-width: 10px 0 10px 10px; width: 1px; height: 1px; border-left-color: #2e6da4; border-right-color: #2e6da4; margin-left: 0; margin-right: 0; }

.slider.slider-vertical .slider-tick-label-container { white-space: nowrap; }

.slider.slider-vertical .slider-tick-label-container .slider-tick-label { padding-left: 4px; }

.slider.slider-vertical .tooltip { -ms-transform: translateY(-50%); transform: translateY(-50%); }

.slider.slider-vertical.slider-rtl .slider-track { left: initial; right: 25%; }

.slider.slider-vertical.slider-rtl .slider-selection { left: initial; right: 0; }

.slider.slider-vertical.slider-rtl .slider-tick.triangle, .slider.slider-vertical.slider-rtl .slider-handle.triangle { border-width: 10px 10px 10px 0; }

.slider.slider-vertical.slider-rtl .slider-tick-label-container .slider-tick-label { padding-left: initial; padding-right: 4px; }

.slider.slider-disabled .slider-handle { background-image: -webkit-linear-gradient(top, #dfdfdf 0%, #bebebe 100%); background-image: -o-linear-gradient(top, #dfdfdf 0%, #bebebe 100%); background-image: linear-gradient(to bottom, #dfdfdf 0%, #bebebe 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdfdfdf', endColorstr='#ffbebebe', GradientType=0); }

.slider.slider-disabled .slider-track { background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #e9e9e9 100%); background-image: -o-linear-gradient(top, #e5e5e5 0%, #e9e9e9 100%); background-image: linear-gradient(to bottom, #e5e5e5 0%, #e9e9e9 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe5e5e5', endColorstr='#ffe9e9e9', GradientType=0); cursor: not-allowed; }

.slider input { display: none; }

.slider .tooltip { pointer-events: none; }

.slider .tooltip.top { margin-top: -36px; }

.slider .tooltip-inner { white-space: nowrap; max-width: none; }

.slider .hide { display: none; }

.slider-track { position: absolute; cursor: pointer; background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%); background-image: -o-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%); background-image: linear-gradient(to bottom, #f5f5f5 0%, #f9f9f9 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0); -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); border-radius: 4px; }

.slider-selection { position: absolute; background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%); background-image: -o-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%); background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff5f5f5', GradientType=0); -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15); box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-radius: 4px; }

.slider-selection.tick-slider-selection { background-image: -webkit-linear-gradient(top, #8ac1ef 0%, #82b3de 100%); background-image: -o-linear-gradient(top, #8ac1ef 0%, #82b3de 100%); background-image: linear-gradient(to bottom, #8ac1ef 0%, #82b3de 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8ac1ef', endColorstr='#ff82b3de', GradientType=0); }

.slider-track-low, .slider-track-high { position: absolute; background: transparent; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-radius: 4px; }

.slider-handle { position: absolute; top: 0; width: 20px; height: 20px; background-color: #337ab7; background-image: -webkit-linear-gradient(top, #337ab7 0%, #2e6da4 100%); background-image: -o-linear-gradient(top, #337ab7 0%, #2e6da4 100%); background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0); filter: none; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); border: 0px solid transparent; }

.slider-handle:hover { cursor: pointer; }

.slider-handle.round { border-radius: 50%; }

.slider-handle.triangle { background: transparent none; }

.slider-handle.custom { background: transparent none; }

.slider-handle.custom::before { line-height: 20px; font-size: 20px; content: '\2605'; color: #726204; }

.slider-tick { position: absolute; cursor: pointer; width: 20px; height: 20px; background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%); background-image: -o-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%); background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff5f5f5', GradientType=0); -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15); box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; filter: none; opacity: 0.8; border: 0px solid transparent; }

.slider-tick.round { border-radius: 50%; }

.slider-tick.triangle { background: transparent none; }

.slider-tick.custom { background: transparent none; }

.slider-tick.custom::before { line-height: 20px; font-size: 20px; content: '\2605'; color: #726204; }

.slider-tick.in-selection { background-image: -webkit-linear-gradient(top, #8ac1ef 0%, #82b3de 100%); background-image: -o-linear-gradient(top, #8ac1ef 0%, #82b3de 100%); background-image: linear-gradient(to bottom, #8ac1ef 0%, #82b3de 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8ac1ef', endColorstr='#ff82b3de', GradientType=0); opacity: 1; }

/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; margin-left: auto; margin-right: auto; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
[dir="rtl"] .slick-slide { float: right; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-arrow.slick-hidden { display: none; }

@font-face { font-family: 'Open Sans', sans-serif; }
/* Source Sans Pro add */
@font-face { font-family: 'Source Sans Pro', sans-serif; }
/* HELPER CLASS -------------------------- */
/* FA based classes */
/*! Modified from font-awesome helper CSS classes - PIXEDEN
 *  Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (CSS: MIT License)
 */
/* makes the font 33% larger relative to the icon container */
.pe-lg { font-size: 1.3333333333333333em; line-height: 0.75em; vertical-align: -15%; }

.pe-2x { font-size: 2em; }

.pe-3x { font-size: 3em; }

.pe-4x { font-size: 4em; }

.pe-5x { font-size: 5em; }

.pe-fw { width: 1.2857142857142858em; text-align: center; }

.pe-ul { padding-left: 0; margin-left: 2.142857142857143em; list-style-type: none; }

.pe-ul > li { position: relative; }

.pe-li { position: absolute; left: -2.142857142857143em; width: 2.142857142857143em; top: 0.14285714285714285em; text-align: center; }

.pe-li.pe-lg { left: -1.8571428571428572em; }

.pe-border { padding: .2em .25em .15em; border: solid 0.08em #eeeeee; border-radius: .1em; }

.pull-right { float: right; }

.pull-left { float: left; }

.pe.pull-left { margin-right: .3em; }

.pe.pull-right { margin-left: .3em; }

.pe-spin { -webkit-animation: spin 2s infinite linear; -moz-animation: spin 2s infinite linear; -o-animation: spin 2s infinite linear; animation: spin 2s infinite linear; }

@-moz-keyframes spin { 0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); } }
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); } }
@-o-keyframes spin { 0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); } }
@-ms-keyframes spin { 0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); } }
@keyframes spin { 0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); } }
.pe-rotate-90 { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); -o-transform: rotate(90deg); transform: rotate(90deg); }

.pe-rotate-180 { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }

.pe-rotate-270 { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); -webkit-transform: rotate(270deg); -moz-transform: rotate(270deg); -ms-transform: rotate(270deg); -o-transform: rotate(270deg); transform: rotate(270deg); }

.pe-flip-horizontal { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1); -webkit-transform: scale(-1, 1); -moz-transform: scale(-1, 1); -ms-transform: scale(-1, 1); -o-transform: scale(-1, 1); transform: scale(-1, 1); }

.pe-flip-vertical { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1); -webkit-transform: scale(1, -1); -moz-transform: scale(1, -1); -ms-transform: scale(1, -1); -o-transform: scale(1, -1); transform: scale(1, -1); }

.pe-stack { position: relative; display: inline-block; width: 2em; height: 2em; line-height: 2em; vertical-align: middle; }

.pe-stack-1x, .pe-stack-2x { position: absolute; left: 0; width: 100%; text-align: center; }

.pe-stack-1x { line-height: inherit; }

.pe-stack-2x { font-size: 2em; }

.pe-inverse { color: #ffffff; }

/* Custom classes / mods - PIXEDEN */
.pe-va { vertical-align: middle; }

.pe-border { border: solid 0.08em #eaeaea; }

[class^="pe-7s-"], [class*=" pe-7s-"] { display: inline-block; background-color: red; }

.after { position: absolute; content: " "; display: block; }

a { font-size: 14px; font-family: "Open Sans", sans-serif; }

a, input[type=text], .btn, .menu-icon .fa, img, .top-delivey-services, .header.menu-opened .top-delivey-services { -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }

.btn, .btn.focus, .btn:focus, a:hover, a:focus, a:active { box-shadow: none; outline: none; }

.box-shadow { background-color: #fafafa; box-shadow: 0px 0px 36.55px 6.45px rgba(0, 0, 0, 0.51); }

.overlay-bg-07 { background-color: rgba(0, 0, 0, 0.71); }

input.placeholder, textarea.placeholder { color: #000000; }
input:-moz-placeholder, textarea:-moz-placeholder { color: #000000; }
input::-moz-placeholder, textarea::-moz-placeholder { color: #000000; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #000000; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #000000; }

.custom-btn { background-color: red; color: green; font-size: 12px; font-family: "Open Sans", sans-serif; font-weight: 400; width: 100%; border: 1px solid #ff3251; display: block; outline: none; box-shadow: none; border-radius: 0; padding: 15px 20px; }
.custom-btn:hover, .custom-btn:focus { background-color: #000000; color: #ffffff; border-color: #FFEF44; }

.top-title h2 { font-size: 38px; line-height: 1.4; }

.green-text { color: #128712; }

.red-text { color: #e74c3c; }

.black-text { color: #000000; }

.dark-text { color: #3e3e3e; }

.white-text { color: #ffffff; }

.hover:hover, ul.menu li > a.nav-link:hover, ul.user-menu li > a.nav-link:hover, .hover:focus, ul.menu li > a.nav-link:focus, ul.user-menu li > a.nav-link:focus, .hover:active, ul.menu li > a.nav-link:active, ul.user-menu li > a.nav-link:active { color: #128712; }

.container { max-width: 1185px; }

.mb-60 { margin-bottom: 60px; }

.mb-55 { margin-bottom: 55px !important; }

.pb-90 { padding-bottom: 90px; }

.pb-70 { padding-bottom: 70px !important; }

.position-absolute { position: absolute; left: 0; right: 0; z-index: 999; }

.top-title { position: relative; }
.top-title:before { content: ''; position: absolute; left: 0; right: 0; background-position: center center; background-size: auto; height: 100%; width: 100%; display: block; margin: 0 auto; text-align: center; bottom: -40px; }

.load-more { background-color: transparent; color: #3e3e3e; font-size: 14px; font-family: "Open Sans", sans-serif; font-weight: 400; width: auto; border: 1px solid transparent; display: block; outline: none; box-shadow: none; border-radius: 0; padding: 0px 0px; border: 0; display: inline-block; margin: 16px 0; }
.load-more:hover, .load-more:focus { background-color: transparent; color: #128712; border-color: #FFEF44; }
.load-more i { font-size: 30px; }

a[disabled="disabled"] { pointer-events: none; cursor: default; }

select { -webkit-appearance: none; -moz-appearance: none; appearance: none; background: url(../images/down-arrow.png) white no-repeat 98.5% !important; background: url(../images/down-arrow.png) white no-repeat calc(100% - 15px) !important; cursor: pointer; }

.order-count select { -webkit-appearance: none; -moz-appearance: none; appearance: none; background: url(../images/down-arrow.png) white no-repeat 98.5% !important; background: url(../images/down-arrow.png) white no-repeat calc(100% - 4px) !important; padding-right: 20px; cursor: pointer; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; -moz-appearance: none; appearance: none; margin: 0; }

input[type=number] { -moz-appearance: textfield; }

.ui-widget-header .ui-icon { background-image: url("../images/ui-icons_444444_256x240.png"); }

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon { background-image: url("../images/ui-icons_555555_256x240.png"); }

.dropzone { padding: 0; border: none; }

.dz-default { display: none; }

.dz-preview.dz-error:hover .dz-error-message { opacity: 0; }

.dz-preview:hover .dz-image img { -webkit-transform: scale(1, 1); -moz-transform: scale(1, 1); -ms-transform: scale(1, 1); -o-transform: scale(1, 1); transform: scale(1, 1); -webkit-filter: none; filter: none; }

.dz-preview.dz-image-preview { background: transparent; padding: 0; margin: 0 0 10px 0; display: block; width: 100%; }

.dz-preview .dz-image { border-radius: 5px; overflow: hidden; width: 100%; }

.dz-preview .dz-image img { width: 100%; }

.dz-preview .dz-details .dz-size { display: none; }

.dz-preview .dz-details .dz-filename { display: none; }

.dz-clickable .bg-gray { background-color: #ffffff; }

.dz-error-message, .dz-success-mark, .dz-error-mark { display: none; }

#datepicker { position: relative; z-index: 1000; }

.acc_container .card-body { border-radius: 0; padding: 10px; }
.acc_container a { padding: 5px 0; font-family: "Open Sans", sans-serif; font-size: 14px; color: #353535; }
.acc_container a:hover { color: #128712; }

h1 { font-style: normal; font-size: 72px; font-family: "Open Sans", sans-serif; font-weight: 700; line-height: 1.2; }

h2 { font-size: 36px; font-family: "Source Sans Pro", sans-serif; font-style: normal; font-weight: 700; line-height: 1.3; text-transform: uppercase; color: #6a6a6a; }

h3 { font-size: 24px; font-family: "Source Sans Pro", sans-serif; font-style: normal; font-weight: 400; line-height: 1; }

h4 { font-size: 18px; font-family: "Open Sans", sans-serif; font-style: normal; font-weight: 600; line-height: 1.2; }

h5 { font-size: 14px; font-family: "Open Sans", sans-serif; font-weight: 700; font-style: normal; text-transform: uppercase; }

h6 { font-size: 12px; font-family: "Source Sans Pro", sans-serif; font-weight: 300; font-style: normal; line-height: 1.4; }

p { font-size: 14px; font-family: "Open Sans", sans-serif; font-weight: 400; font-style: normal; line-height: 1.4; }

.form-control { border-top: 1px solid white; border-right: 1px solid white; border-left: 1px solid white; }

.form-control:focus { outline: none; box-shadow: none !important; border: 1px solid #fff !important; }

.form-group textarea { resize: none; }

/* ==========================================================================
> Header
========================================================================== */
.header { padding: 40px 0 300px 0; }

.navbar { padding: 0 1rem; }

.navbar-toggler { padding: 0; box-shadow: none; outline: 0 !important; border-radius: 0; }

.navbar-toggler[aria-expanded="true"] { background-color: #128712; }

.custom-nav { max-width: 1300px; margin: 0 auto; }

a.navbar-brand { font-size: 21px; font-family: "Open Sans", sans-serif; color: #ffffff; font-weight: 700; line-height: 1.2; }

ul.menu li > a.nav-link, ul.user-menu li > a.nav-link { color: #ffffff; font-size: 16px; font-family: "Open Sans", sans-serif; font-weight: 600; text-transform: uppercase; line-height: 1.25; z-index: 999999999999999; padding: 0 15px !important; }
ul.menu li:first-child > a.nav-link, ul.user-menu li:first-child > a.nav-link { padding-left: 0 !important; }
ul.menu li:last-child > a.nav-link, ul.user-menu li:last-child > a.nav-link { padding-right: 0 !important; }

ul.user-menu li.nav-item:before { display: none; }
ul.user-menu li > a.nav-link { font-size: inherit; }

/* ==========================================================================
> slider-area start
========================================================================== */
.slick-next { font-size: 0; line-height: 0; position: absolute; top: 50%; left: 90%; display: block; width: 30px; height: 30px; padding: 0; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); cursor: pointer; color: #ffffff; border: none; outline: none; background: #e74c3c; }

.slick-prev { font-size: 0; line-height: 0; position: absolute; top: 50%; right: 90%; display: block; width: 30px; height: 30px; padding: 0; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); cursor: pointer; color: #ffffff; border: none; outline: none; background: #706964; }

.slider-area { height: 100vh; width: 100%; flex-wrap: wrap; z-index: 100; position: relative; display: block; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; opacity: 1; }
.slider-area > div { height: 100vh; }
.slider-area .slick-slider { margin-bottom: 0; }
.slider-area .slick-slide { outline: none; background-size: cover; height: 100vh; top: 0; bottom: 0; left: 0; position: relative; }
.slider-area .slick-slide:before { content: ''; position: absolute; background-color: none !important; opacity: 0.588; height: 100%; width: 100%; }
.slider-area .slide { background-position: center center; background-repeat: no-repeat; background-color: transparent; background-size: cover; height: 100vh; }
.slider-area .slick-dots { margin: 0 auto; text-align: center; bottom: 167px; z-index: 1; position: absolute; left: 0; right: 0; padding: 0; }
.slider-area .slick-dots li { display: inline-block; margin: 0 8px; }
.slider-area .slick-dots li button { background-color: rgba(255, 60, 47, 0.59); height: 5px; width: 30px; border: 0; box-shadow: none; outline: none; text-indent: -9999px; }
.slider-area .slick-dots li button:before { display: none; }
.slider-area .slick-dots li.slick-active button { background-color: white; }

.slick-dotted.slick-slider { margin: 0; z-index: 0; }

.caption .custom-btn { background-color: #000000; color: #ffffff; font-size: 18px; font-family: "Open Sans", sans-serif; font-weight: 400; width: auto; border: 1px solid #ff3251; display: block; outline: none; box-shadow: none; border-radius: 0; padding: 13px 40px; display: inline-block; border: none; font-weight: 700; }
.caption .custom-btn:hover, .caption .custom-btn:focus { background-color: #128712; color: #ffffff; border-color: #FFEF44; }
.caption h4 { text-shadow: 0px 0px 107.5px rgba(0, 0, 0, 0.81); opacity: 0.7; }

/* ========================================================================== >start crative section ========================================================================== */
.creative { padding: 120px 0px 70px 0px; }
.creative .design { max-width: 200px; }
.creative .design h4 { color: #6a6a6a; }
.creative .design h6 { color: #999999; padding: 18px 0px 0px 0px; }
.creative .design .fa { border: 1px solid #f2f2f2; padding: 20px; color: #f6bdb7; margin-bottom: 30px; }
.creative .design .hover-me:hover .fa { -ms-transform: rotate(45deg); /* IE 9 */ -webkit-transform: rotate(45deg); /* Safari 3-8 */ transform: rotate(45deg); border-color: #f6bdb7; }
.creative .design .hover-me:hover h4 { color: #e74c3c; }
.creative .design span { border-bottom: 1px solid #b5b5b5; padding: 14px 0; }

/* ========================================================================== > start history section ========================================================================== */
.history { padding: 125px 0px 125px 0px; }
.history .history-header { border-left: 5px solid #e74c3c; height: 45px; }
.history .history-header h2 { padding: 0px 0px 0px 32px; }
.history p { color: #999999; line-height: 1.7; }
.history .history-text { padding: 40px 0px 10px 0px; }
.history .browse-btn { background-color: #e74c3c; color: #ffffff; font-size: 0px; font-family: "Open Sans", sans-serif; font-weight: 400; width: auto; border: 1px solid #ff3251; display: block; outline: none; box-shadow: none; border-radius: 0; margin: 0px auto 0 auto; padding: 16px 30px 16px 30px; font-size: 14px; font-family: "Open Sans", sans-serif; font-weight: 700; display: inline-block; border: 2px solid white; border-radius: 5px; }
.history .browse-btn:hover, .history .browse-btn:focus { background-color: #000000; color: #ffffff; border-color: #FFEF44; }
.history img { width: 100%; height: auto; }

/* ========================================================================== > start services section ========================================================================== */
/* ========================================================================== >  start recent work ========================================================================== */
.recent-work p { padding: 0px 0px 47px 0px; }
.recent-work .img-container { position: relative; display: inline-block; width: 100%; height: auto; }
.recent-work .img-container img { display: block; width: 100%; height: auto; }
.recent-work .img-container .overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #bc4033; opacity: 0; transition: opacity 500ms ease-in-out; }
.recent-work .img-container:hover .overlay { opacity: 0.8; }
.recent-work .overlay { padding-top: 70%; padding-left: 40px; }
.recent-work .overlay h3 { font-weight: 600; color: #ffffff; text-transform: uppercase; }
.recent-work .overlay h3 span { border-top: 3px solid #ffffff; }

.card { background-color: #ffffff; box-shadow: 2px 4px 10px 0 rgba(0, 34, 51, 0.05), 2px 4px 10px 0 rgba(0, 34, 51, 0.05); }

.tab-card-header { background: none; }

/* Default mode */
.tab-card-header > .nav-tabs { border: none; margin: 0px; }

.tab-card-header > .nav-tabs > li { margin-right: 2px; padding: 0px 0px 35px 0px; }

.tab-card-header > .nav-tabs > li > a { border: 0; margin-right: 0; color: #999999; padding: 2px 15px; font-family: "Open Sans", sans-serif; font-weight: 700; font-size: 14px; }

.tab-card-header > .nav-tabs > li > a.show { border-bottom: 2px solid #007bff; color: #007bff; }

.tab-card-header > .nav-tabs > li > a:hover { color: #007bff; }

.tab-card-header > .tab-content { padding-bottom: 0; }

.tab-card-header { background: none; }

.card-header { border-bottom: none; }

.nav-tabs .nav-link.active { color: #e74c3c; }

/* ========================================================================== > start case-study section ========================================================================== */
/* ========================================================================== >  start counter section ========================================================================== */
.counter { padding: 145px 0px 0px 0px; min-height: 470px; }
.counter ul > li { padding: 0px 0px 0px 80px; }
.counter ul > li:first-child { padding: 0; }
.counter .fa { border: 1px solid #ffffff; border-radius: 50%; padding: 35px; }
.counter .counter-text { padding: 40px 0px 0px 0px; }
.counter .counter-text .counter-value { font-size: 30px; font-family: "Source Sans Pro", sans-serif; font-weight: 700; }
.counter .counter-text h5 { font-size: 18px; font-family: "Source Sans Pro", sans-serif; font-weight: 700; text-transform: capitalize; }

/* ========================================================================== >  start pricing section ========================================================================== */
/* ========================================================================== >  start team section ========================================================================== */
/* ========================================================================== >  start our-partners ========================================================================== */
.our-partners { background-color: #f4f5f9; }
.our-partners h2 { padding: 150px 0px 0px 0px; }
.our-partners p { padding: 0px 0px 60px 0px; }
.our-partners .image { background-color: #ffffff; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03), 0 6px 20px 0 rgba(0, 0, 0, 0.04); padding: 0px 10px 0px 10px; }
.our-partners .image img { padding: 20px; width: 100%; }

/* ========================================================================== > start blog section ========================================================================== */
.our-blog { background-color: #f4f5f9; padding: 240px 0px 0px 0px; }
.our-blog p { padding: 2px 0px 100px 0px; }
.our-blog .img-container { position: relative; display: inline-block; width: 100%; height: auto; }
.our-blog .img-container img { display: block; width: 100%; height: auto; }
.our-blog .blog-text { background-color: #e74e3e; height: 477px; padding: 70px 0px 0px 55px; }
.our-blog .blog-text h5 { text-transform: lowercase; }
.our-blog .blog-text span { border-bottom: 3px solid #ffffff; }
.our-blog .blog-text p { padding: 30px 0px 10px 0px; }
.our-blog .blog-text a { color: #ffffff; text-decoration: none; font-family: "Open Sans", sans-serif; font-weight: 600; font-style: italic; }

/* ========================================================================== > start contact-section ========================================================================== */
.contact { background-color: #f4f5f9; padding: 147px 0; }
.contact .card { border: none; padding: 65px 0; min-height: 480px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05); }
.contact h3 { color: #e75141; padding: 40px 0px 0px 0px; }
.contact h3:first-child { padding: 0; }
.contact h4 { color: #999999; }
.contact a { text-decoration: none; }
.contact p { padding: 0px 0px 90px 0px; }
.contact .send-btn { background-color: #e74c3c; color: #ffffff; font-size: 0px; font-family: "Open Sans", sans-serif; font-weight: 400; width: auto; border: 1px solid #ff3251; display: block; outline: none; box-shadow: none; border-radius: 0; margin: 0px auto 0 auto; padding: 12px 27px 12px 27px; font-size: 14px; font-family: "Open Sans", sans-serif; font-weight: 700; display: inline-block; border: 2px solid white; border-radius: 5px; }
.contact .send-btn:hover, .contact .send-btn:focus { background-color: #000000; color: #ffffff; border-color: #FFEF44; }

/* ========================================================================== > FOOTER start ========================================================================== */
/* ========================================================================== > start free-trial ========================================================================== */
.free-trial { min-height: 470px; opacity: 0.9; }
.free-trial .caption { padding: 160px 0px 132px 0px; }
.free-trial .caption h1 { font-size: 36px; }
.free-trial .caption h4 { font-weight: 700; }
.free-trial .caption .free-trial-btn { background-color: #e74c3c; color: #ffffff; font-size: 0px; font-family: "Open Sans", sans-serif; font-weight: 400; width: auto; border: 1px solid #ff3251; display: block; outline: none; box-shadow: none; border-radius: 0; margin: 60px auto 0 auto; padding: 10px 32px 10px 32px; font-size: 14px; font-family: "Open Sans", sans-serif; font-weight: 700; display: inline-block; border-radius: 5px; text-transform: uppercase; }
.free-trial .caption .free-trial-btn:hover, .free-trial .caption .free-trial-btn:focus { background-color: #000000; color: #ffffff; border-color: #FFEF44; }

/* ========================================================================== >  start copyright ========================================================================== */
.copyright { background-color: #202020; padding: 15px 0px 10px 0px; }
.copyright a { color: #999999; padding-right: 5px; font-size: 16px; }
.copyright a:hover { color: #e74c3c; }
.copyright p { font-weight: 600; color: #999999; }

@media (max-width: 575.98px) { ul.menu li > a.nav-link, ul.user-menu li > a.nav-link, ul.user-menu li > a.nav-link { padding: 15px 0 !important; }
  ul.menu li.nav-item:before, ul.user-menu li.nav-item:before, ul.user-menu li.nav-item:before { display: none; }
  ul.user-menu li.nav-item { position: relative; padding: 0 15px; }
  .header { padding: 20px 0 0px 0; }
  .inner-header { background-color: #000000; padding: 20px 0; position: absolute; width: 100%; z-index: 99999999999; }
  .main { padding-top: 85px; }
  h1 { font-style: normal; font-size: 30px; }
  .caption h4 { font-size: 14px; }
  .our-blog .blog-text { height: auto; }
  .counter { height: auto; width: 100%; }
  .counter ul > li { padding: 0; width: 100%; }
  .creative .design { /* max-width: 200px; */ max-width: 100%; } }
@media (min-width: 576px) and (max-width: 767.98px) { .our-blog .blog-text { height: auto; }
  .creative .design { /* max-width: 200px; */ max-width: 100%; } }
@media (min-width: 768px) and (max-width: 991.98px) { .our-blog .blog-text { height: auto; }
  .creative .design { /* max-width: 200px; */ max-width: 100%; } }

/*# sourceMappingURL=styles.css.map */
