
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  ul.menu li > a.nav-link, ul.user-menu li > a.nav-link{
    padding: 15px 0 !important;
  }
  ul.menu li.nav-item:before, ul.user-menu li.nav-item:before{
    display: none;
  }
  ul.user-menu li.nav-item {
    position: relative;
    padding: 0 15px;
  }

  .header {
    padding: 20px 0 0px 0;
  }
  .inner-header {
    background-color: #000000;
    padding: 20px 0;
    position: absolute;
    width: 100%;
    z-index: 99999999999;
  }
  .main{
    padding-top: 85px;
  }

  h1 {
    font-style: normal;
    font-size: 30px;
  }
  .caption{
    h4{
      font-size: 14px;
    }
  }

  .our-blog{
    .blog-text{
      height:auto;
    }
  }
  .counter{
    height: auto;
    width: 100%;
    ul>li{
      padding:0;
      width: 100%;
    }
  }
  .creative {
    .design {
      /* max-width: 200px; */
      max-width: 100%;
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .our-blog{
    .blog-text{
      height:auto;
    }
  }
  .creative {
    .design {
      /* max-width: 200px; */
      max-width: 100%;
  }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .our-blog{
    .blog-text{
      height:auto;
    }
  }
  .creative {
    .design {
      /* max-width: 200px; */
      max-width: 100%;
    }
  }

}



// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}