.form-control{
  border-top:1px solid white;
  border-right:1px solid white;
  border-left:1px solid white;
}
.form-control:focus {
  outline: none;
  box-shadow:none !important;
  border:1px solid #fff !important;
}

.form-group textarea {
  resize: none;
}
/* ==========================================================================
> Header
========================================================================== */
.header{
  padding: 40px 0 300px 0;
}

.navbar{
  padding: 0 1rem;
}
.navbar-toggler{
  padding: 0;
  box-shadow: none;
  outline: 0!important;
  border-radius: 0;
}
.navbar-toggler[aria-expanded="true"]{
  background-color: $light-green;

}
.custom-nav{
  max-width: 1300px;
  margin: 0 auto;
}

a.navbar-brand{
  font-size: ceil($base-font-size*1.428571428571429);
  font-family: $opensans;
  color: $white;
  font-weight: $bold;
  line-height: 1.2;
}

ul.menu{


  li>a.nav-link{
    color: $white;
    font-size: $base-font-size+2;
    font-family: $opensans;
    font-weight: $semi-bold;
    text-transform: uppercase;
    line-height: 1.25;
    z-index: 999999999999999;
    @extend .hover;
    padding: 0 15px !important;
  }
  li:first-child>a.nav-link{
    padding-left: 0!important;
  }
  li:last-child>a.nav-link{
    padding-right: 0!important;
  }

}

ul.user-menu{
  @extend ul.menu;
  li.nav-item{
    &:before{
      display: none;
    }
  }
  li>a.nav-link{
    font-size: inherit;
  }

}

/* ==========================================================================
> slider-area start
========================================================================== */
.slick-next {
   font-size: 0;
   line-height: 0;
   position: absolute;
   top: 50%;
   left: 90%;
   display: block;
  width: 30px;
  height: 30px;
   padding: 0;
   -webkit-transform: translate(0, -50%);
   -ms-transform: translate(0, -50%);
   transform: translate(0, -50%);
   cursor: pointer;
  color: $white;
   border: none;
   outline: none;
  background: #e74c3c;
 }
.slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  right: 90%;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: $white;
  border: none;
  outline: none;
  background: #706964;
}
.slider-area {
  height: 100vh;
  width: 100%;
  flex-wrap: wrap;
  z-index: 100;
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  opacity:1;


  > div {
    height: 100vh;
  }
  .slick-slider {
    margin-bottom: 0;
  }


  .slick-slide {
    outline: none;
    background-size: cover;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      background-color:none !important;
      opacity: 0.588;
      height: 100%;
      width: 100%;
    }
  }
  .slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    height: 100vh;

  }
  .slick-dots{
    margin: 0 auto;
    text-align: center;
    bottom: 167px;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    padding: 0;

    li{
      display: inline-block;
      margin: 0 8px;
    }

    li button{
      background-color: rgba(255, 60, 47, 0.59);
      height: 5px;
      width: 30px;
      border: 0;
      box-shadow: none;
      outline: none;
      text-indent: -9999px;
      &:before{
        display: none;
      }
    }
    li.slick-active{
      button{
        background-color: rgb(255, 255, 255);
      }
    }
  }


}
.slick-dotted.slick-slider{
  margin: 0;
  z-index: 0;
}
.caption{
  .custom-btn{
    @include btn($black, $white, 18px, $opensans, $regular, auto, #ff3251, $light-green, $white, #FFEF44);
    @include padding(13px, 40px);
    display: inline-block;
    border: none;
    font-weight: $bold;
  }


  h4{
    text-shadow: 0px 0px 107.5px rgba(0, 0, 0, 0.81);
    opacity: 0.7;
  }
}

/* ==========================================================================
  >start crative section
  ========================================================================== */
.creative{
  padding:120px 0px 70px 0px;
  .design{
    max-width: 200px;

    h4{
  color: rgb(106, 106, 106);
    }
    h6{
      color: rgb(153, 153, 153);
      padding:18px 0px 0px 0px;
    }
    .fa{
      border:1px solid #f2f2f2;
      padding:20px;
      color:#f6bdb7;
      margin-bottom: 30px;
      &:hover{


      }
    }
    .hover-me:hover{
      .fa{
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Safari 3-8 */
        transform: rotate(45deg);
        border-color: #f6bdb7;
      }
      h4{
        color:#e74c3c;
      }
    }
    span{
      border-bottom:1px solid #b5b5b5;
      padding:14px 0;
    }
  }
}
/* ==========================================================================
  > start history section
  ========================================================================== */
.history{
  padding:125px 0px 125px 0px;
  .history-header{
    border-left:5px solid $red-color;
    height:45px;
    h2{
  padding:0px 0px 0px 32px;

    }
  }
  p{
    color: rgb(153, 153, 153);
    line-height: 1.7;
  }
  .history-text{
    padding:40px 0px 10px 0px;
  }
  .browse-btn{
    @include btn(#e74c3c, $white, 0px, $opensans, $regular, auto, #ff3251, $black, $white, #FFEF44);
    margin: 0px auto 0 auto;
    padding: 16px 30px 16px 30px;
    font-size: 14px;
    font-family: $opensans;
    font-weight: $bold;
    display: inline-block;
    border: 2px solid white;
    border-radius: 5px;
  }
  img{
    width: 100%;
    height:auto;
  }
}

/* ==========================================================================
  > start services section
  ========================================================================== */


/* ==========================================================================
  >  start recent work
  ========================================================================== */
.recent-work {
  p {
    padding: 0px 0px 47px 0px;
  }
  .img-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
  }

  .img-container img {
    display: block;
    width: 100%;
    height: auto;
  }
  .img-container .overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background:#bc4033;
    opacity:0;
    transition:opacity 500ms ease-in-out;
  }
  .img-container:hover .overlay{
    opacity:0.8;
  }
    .overlay{
      padding-top:70%;
      padding-left:40px;
        h3{
          font-weight: $semi-bold;
          color:$white;
          text-transform: uppercase;
          span{
            border-top:3px solid $white;
          }
        }

  }
}
  .card {
    background-color: #ffffff;
    box-shadow: 2px 4px 10px 0 rgba(0, 34, 51, 0.05), 2px 4px 10px 0 rgba(0, 34, 51, 0.05);
  }

  .tab-card-header {
    background: none;
  }

  /* Default mode */
  .tab-card-header > .nav-tabs {
    border: none;
    margin: 0px;
  }

  .tab-card-header > .nav-tabs > li {
    margin-right: 2px;
    padding: 0px 0px 35px 0px;
  }

  .tab-card-header > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #999999;
    padding: 2px 15px;
    font-family: $opensans;
    font-weight: $bold;
    font-size: 14px;
  }

  .tab-card-header > .nav-tabs > li > a.show {
    border-bottom: 2px solid #007bff;
    color: #007bff;
  }

  .tab-card-header > .nav-tabs > li > a:hover {
    color: #007bff;
  }

  .tab-card-header > .tab-content {
    padding-bottom: 0;
  }

  .tab-card-header {
    background: none;
  }

  .card-header {
    border-bottom: none;
  }

  .nav-tabs .nav-link.active {
    color: #e74c3c;
  }

  /* ==========================================================================
    > start case-study section
    ========================================================================== */



/* ==========================================================================
  >  start counter section
  ========================================================================== */
.counter{
  padding:145px 0px 0px 0px;
  min-height: 470px;
  ul>li{
    padding:0px 0px 0px 80px;
    &:first-child{
      padding: 0;
    }
  }
  .fa{
    border:1px solid $white;
    border-radius: 50%;
    padding:35px;
  }
  .counter-text{
    padding: 40px 0px 0px 0px;
    .counter-value{
      font-size: 30px;
      font-family: $source-sans-pro;
      font-weight: $bold;
    }
    h5{
      font-size: 18px;
      font-family: $source-sans-pro;
      font-weight: $bold;
      text-transform: capitalize;
    }
  }
}

/* ==========================================================================
  >  start pricing section
  ========================================================================== */

/* ==========================================================================
  >  start team section
  ========================================================================== */


  /* ==========================================================================
    >  start our-partners
    ========================================================================== */
  .our-partners {
    background-color: #f4f5f9;

    h2 {
      padding: 150px 0px 0px 0px;
    }

    p {
      padding: 0px 0px 60px 0px;
    }

    ul > li {
      img {

      }
    }

    .image {
      background-color: $white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03), 0 6px 20px 0 rgba(0, 0, 0, 0.04);
      padding: 0px 10px 0px 10px;

      &:hover {

      }

      img {
        padding: 20px;
        width: 100%;
      }
    }
  }

  /* ==========================================================================
    > start blog section
    ========================================================================== */
  .our-blog {
    background-color: #f4f5f9;
    padding: 240px 0px 0px 0px;

    p {
      padding: 2px 0px 100px 0px
    }

    .img-container {
      position: relative;
      display: inline-block;
      width: 100%;
      height: auto;
    }

    .img-container img {
      display: block;
      width: 100%;
      height: auto;
    }

    .blog-text {
      background-color: #e74e3e;
      height: 477px;
      padding: 70px 0px 0px 55px;

      h5 {
        text-transform: lowercase;
      }

      h3 {

      }

      span {
        border-bottom: 3px solid $white;
      }

      p {
        padding: 30px 0px 10px 0px;
      }

      a {
        color: $white;
        text-decoration: none;
        font-family: $opensans;
        font-weight: $semi-bold;
        font-style: italic;
      }
    }
  }


  /* ==========================================================================
    > start contact-section
    ========================================================================== */
  .contact {
    background-color: #f4f5f9;
    padding: 147px 0;

    .card {
      border: none;
      padding: 65px 0;
      min-height: 480px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    }

    h3 {
      color: #e75141;
      padding: 40px 0px 0px 0px;

      &:first-child {
        padding: 0;
      }
    }

    h4 {
      color: rgb(153, 153, 153);
    }

    a {
      text-decoration: none;
    }

    p {
      padding: 0px 0px 90px 0px;
    }

    .send-btn {
      @include btn(#e74c3c, $white, 0px, $opensans, $regular, auto, #ff3251, $black, $white, #FFEF44);
      margin: 0px auto 0 auto;
      padding: 12px 27px 12px 27px;
      font-size: 14px;
      font-family: $opensans;
      font-weight: $bold;
      display: inline-block;
      border: 2px solid white;
      border-radius: 5px;
    }

    .address {

    }
  }

  /* ==========================================================================
    > FOOTER start
    ========================================================================== */
  /* ==========================================================================
    > start free-trial
    ========================================================================== */
  .free-trial {
    min-height: 470px;
    opacity: 0.9;

    .caption {
      padding: 160px 0px 132px 0px;

      h1 {
        font-size: 36px;
      }

      h4 {
        font-weight: $bold;
      }

      .free-trial-btn {
        @include btn(#e74c3c, $white, 0px, $opensans, $regular, auto, #ff3251, $black, $white, #FFEF44);
        margin: 60px auto 0 auto;
        padding: 10px 32px 10px 32px;
        font-size: 14px;
        font-family: $opensans;
        font-weight: $bold;
        display: inline-block;
        border-radius: 5px;
        text-transform: uppercase;
      }
    }
  }

  /* ==========================================================================
    >  start copyright
    ========================================================================== */
  .copyright {
    background-color: #202020;
    padding: 15px 0px 10px 0px;

    a {
      color: #999999;
      padding-right: 5px;
      font-size: 16px;

      &:hover {
        color: #e74c3c;
      }
    }

    p {
      font-weight: $semi-bold;
      color: #999999;
    }
  }
